<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="renderer" content="webkit"/>
        <meta name="force-rendering" content="webkit"/>
        <title>{block name='meta_title'}{$meta_title}{/block}</title>
        <meta name="keywords" content="{block name='meta_keywords'}{$meta_keywords|default=''}{/block}" />
        <meta name="description" content="{block name='meta_description'}{$meta_description|default=''}{/block}" />
        {block name="head_link"}
        <link type="text/css" rel="stylesheet" href="{:cms_assets('laket/css/style.css')}" />
        {/block}
        {block name="head_script"}
        <script type="text/javascript" src="{:cms_assets('laket/js/jquery-1.8.2.min.js')}"></script>
        <script type="text/javascript" src="{:cms_assets('laket/js/banner.js')}"></script>
        {/block}
        {block name="head"}{/block}
    </head>
    
    <body>
        {block name="header"}
            {template file="cms::laket.common.header_nav" /}
        {/block}
        
        {block name="banner"}
            {template file="cms::laket.common.banner" /}
        {/block}
        {block name="banner_wellcome"}
            {template file="cms::laket.common.banner_wellcome" /}
        {/block}
        
        {block name="content_before"}{/block}
        {block name="content"}laket-cms{/block}
        {block name="content_after"}{/block}
        
        {block name="friendlink"}
            {template file="cms::laket.common.friendlink" /}
        {/block}
        
        {block name="footer"}
            {template file="cms::laket.common.footer" /}
        {/block}
        
        {block name="footer_script"}{/block}
    </body>
</html>
