<div class="header">
    <a href="/cms"><img src="{:cms_assets('laket/images/logo.jpg')}" /></a>
</div>
<div class="clear"></div>

<div class="nav">
    <div class="main">
        <ul>
            <li>
                <a href="/cms">
                    首页
                </a>
            </li>
            
            {navbars order="sort DESC" tree="0" return="data"}
                <li>
                    <a href="{$data.url}" target="{$data.target}">
                        {$data.title}
                    </a>
                </li>
            {/navbars}
        </ul>
    </div>
</div>
<div class="clear"></div>
